/*==============  JUMBOTRON  ====================*/

.adult_league {
	background-image: url('../images/adult_league_hero.jpg');
}

/*==============  LEAGUE INFO SECTION  ====================*/
.league_info {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 50px;
	padding: 125px;
}

.info_holder {
	text-align: center;
    margin-top: auto;
}

.league_info img {
	width: 100px;
	display: block;
	margin: auto;
	padding-bottom: 30px;
}


/*==============  LEAGUE INFO SECTION  ====================*/
.contact {
	background-color: #003466;
	padding: 90px;
	color: white;
	text-align: center;
}

.contact h3 {
	font-weight: lighter !important;
}

.contact button {
	color: #003466;
	margin-top: 25px;
}


/*==============  LEAGUE INFO SECTION  ====================*/
.pictures {
	display: flex;
	/*grid-template-columns: repeat(3, 1fr);
	grid-gap: 20px;*/
	flex-wrap: wrap;
	margin-top: .5%;
}

.pic {
    background-image: url(../images/courts.png);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 33%;
    height: 100%;
    margin-right: .5%;
    margin-bottom: .5%;
    text-align: center;
}

.court {
	background-image: url(../images/courts.png);
}

.lockers {
	background-image: url(../images/lockers.png);
}

.same_night {
	background-image: url(../images/same_night.jpg);
}

.pic p {
	font-weight: 500;
	font-size: 30px !important;
}

.no_margin {
	margin-right: 0;
}

.overlay {
	width: 100%;
    padding: 35% 40px;
    height: 100%;
    z-index: 10;
    color: transparent;
    background-color: rgba(8, 8, 8, 0.0);
    cursor: pointer;
    transition: background-color .5s;
    transition: color .5s
}

.overlay:hover {
    background-color: rgba(8, 8, 8, 0.37);
	color: white;
}
