/*==============  JUMBOTRON  ====================*/

.community {
    background-image: url('../images/community_hero.jpg');
    background-position: 0 49px;
}

.community_info {
    text-align: left;
}



/*================  QUOTES SECTION  =================*/
.quotes {
    display: flex;
    flex-wrap: wrap;
    padding: 100px;
    justify-content: space-between;
}

.quote {
    text-align: center;
    width: 40%;
    margin-bottom: 100px;
}

.quotation {
    text-align: left;
    top: 32px;
    left: -14px;
    position: relative;
    font-size: 37px !important;
    margin: 0;
    font-family: 'Cambria';
}

.quote img {
    height: 150px;
}
