/*==============  JUMBOTRON  ====================*/

.court_rental {
	background-image: url('../images/rent_hero.jpg');
	background-position: 0 49px;
}


/*=============  RENT INFO   ====================*/

.small {
	font-size: 90% !important;
}



/*=============  COURT CONTACT   ====================*/
.court_contact, .blue_background_info {
    background-color: #003466;
    color: white;
    padding: 100px;
    text-align: center;
}

.court_contact form {
	width: 400px;
	margin: auto;
	overflow: hidden;
}

.court_contact input {
	font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    padding: 10px;
    margin-bottom: 20px;
    background-color: transparent;
    color: white;
    width: 100%;
    outline: none;
    display: block;
    border: 1px solid white;
    font-size: 16px;
    font-weight: lighter;
}

.court_contact input:focus {
	border-color: #ffcc00;
}

.court_contact input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.court_contact .button {
    width: auto;
    padding: 18px 49px;
    float: right;
    background-color: #ffcc00;
    color: #003466;
    border: none;
}