/*==============  JUMBOTRON  ====================*/

.jumbotron p {
	font-size: 21px !important;
	color: white;
}

.special_events {
	background-image: url('../images/special_events_hero.jpg');
	background-position: 0 49px;
}


/*==============  SPECIAL EVENTS INFO SECTION ======================*/
.special_event_info {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 100px;
	background-color: #003466;
	color: white;
	text-align: center;
}

.info_holder h2 {
	margin-top: 10px;
}


/*==============  EVENTS SECTION ======================*/
.events {
	display: flex;
	padding: 100px;
}

.filters {
	width: 20%;
	text-align: left;
}

.events_holder {
	width: 80%;
}

.filters a {
	display: block;
    font-size: 18px;
    margin-bottom: 15px;
    color: black;
    transition: color .2s;
}

.filters a:hover {
	text-decoration: none;
	color: #FFCC00;
}

.event {
	display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 50px;
    margin-bottom: 50px;
}

.event h3 {
	margin-top: 0px;
}

.event img {
    max-width: 280px;
    height: 110px;
    margin-right: 47px;
}

.event_text button {
	float: right;
    position: relative;
    top: 28px;
    margin-bottom: 15px;
}