/*==============  JUMBOTRON  ====================*/

.team_building {
    background-image: url('../images/team_building_hero.jpg');
    background-position: 0 49px;
}

.team_building_info {
    padding-left: 0px;
}

.team_building_info li {
    font-size: 17px;
    font-weight: lighter;
    margin-bottom: 10px;
}



/*===============  TEAM BUILDING SECTION  ===================*/
.team_building_imgs {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.team_building_img {
	background-image: url('../images/team_building_hero.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	width: 48%;
	margin-bottom: 25px;
	padding: 50px;
	height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.team_building_img p {
	text-align: center;
	margin-bottom: 0;
}


