/*==============  JUMBOTRON  ====================*/

.youth_league {
	background-image: url('../images/youth_league_hero.png');
	background-position: 0 49px;
}

/*==============  YOUTH INFO SECTION  ====================*/

.youth_info {
	padding-left: 15%;
	padding-right: 15%;
}

.youth_info_holder {
	text-align: left;
	margin-top: 45px;
}


/*==============  SCHEDULE SECTION  ====================*/
.schedules {
	margin: 80px 0;
	display: flex;
	flex-wrap: wrap;
	padding: 0 50px;
	justify-content: center;
}

.schedule {
	width: 500px;
	box-shadow: 0px 0px 15px rgba(136, 136, 136, 0.2);
	margin-right: 50px;
	margin-bottom: 50px;
}