/*==============  HEADER  ====================*/

header {
	background-color: #003466;
	height: 100px;
}

	li {
		list-style: none;
	}

	li a {
		color: white;
		transition: color .2s;
	}

	li a:hover{
		text-decoration: none;
		color: #c5d2de;
		cursor: pointer;
	}

	.left_nav {
		width: 500px;
		display: inline-block;
		position: absolute;
		top: 35px;
		left: 10px;
	}

		.left_nav ul {
			padding: 0;
		}


	nav li {
		display: inline-block;
	    border-right: 1px solid #01233F;
	    padding: 5px;
        text-transform: uppercase;
	}
    nav li a {
        padding-bottom: 40px;
    }


	nav li:last-child {
		border-right: none;
	}

    nav ul.sub-menu {
        position: absolute;
        background-color: #e5422d;
        width: 200px;
        z-index: 999;
        margin-top: 20px;
        display: none;
        min-height: 75px;
    }
    nav ul.sub-menu li {
        display: block;
        border-right: 0;
    }

    nav ul.sub-menu:after{
        content:"";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 10px 10px 10px;
        border-color: transparent transparent #e5422d transparent;
        top:-10px;
        left: 10px;
        position: absolute;
    }
    nav li.menu-item-has-children {
        position: relative;
    }
    nav li.menu-item-has-children:hover ul.sub-menu {
        display: block;
    }

	.logo_middle {
		width: 80px;
		height: 100px;
		background-color: #e5422d;
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
	}

		.logo_middle img {
		    width: 60px;
		    top: 15px;
		    position: relative;
		    left: 50%;
		    transform: translateX(-50%);
		}


	.right_nav {
		display: inline-block;
	    position: absolute;
	    right: 10px;
	    top: 35px;
	}

	/*Yellow bar under header*/

	.yellow_header {
		position: absolute;
		top: 100px;
		background-color: #e5422d;
		height: 50px;
		width: 100%;
        z-index: 9;
	}

		.icon_holder {
			position: absolute;
			left: 50px;
			top: 12px;
		}

			.icon {
				margin-right: 13px;
				cursor: pointer;
				transition: scale .2s;
			}

			.icon:hover {
				transform: scale(1.05);
			}

		.logo_text {
			font-weight: bold;
			font-size: 17px;
			display: inline-block;
			position: relative;
		    left: 50%;
		    bottom: 2px;
		    transform: translateX(-50%);
            color:#fff;
		}
		.search {
			display: inline-block;
			background-color: white;
			position: absolute;
			right: 0;
			top: 10px;
			right: 65px;
		}

			.search input {
				width: 200px;
				padding: 5px 10px;
				border: none;
				border-radius: 5px;
				outline: none;
			}
#menu-item-791:after {
    content: url(/wp-content/themes/emagid/assets/img/play-arrow.png);
    position: absolute;
    margin-left: 10px;
}
#menu-item-791 > ul {
    display: none;
    right: -170px;
    top: 0;
}
#menu-item-791 > ul:after {
    display: none;
    right: -170px;
    top: 0;
    border-color: transparent transparent #003466 transparent;
}
#menu-item-791:hover > ul {
    display: block;
    background: #003466;
    margin-top: 0;
    
}
/*==============  INNER PAGES  ====================*/
header.entry-header {
    margin-top: 50px;
    padding-top: 1px;
    text-align: center;
}
.entry-content {
    width:80%;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
}


/*==============  JUMBOTRON  ====================*/

.jumbotron {
	height: 89vh;
	background-size: cover;
	background-repeat: no-repeat;
    background-position: center;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 0 !important; margin-bottom: 0 !important;
}
.jumbotron h1 {
    text-transform: uppercase;
}


	h1 {
		color: white !important;
		font-weight: bold !important;
		font-size: 50px !important;
		margin-bottom: 45px !important;
	}

	button {
		padding: 14px 37px;
		color: black;
		font-weight: bold !important;
		background-color: #e5422d;
		border: none; outline: none;
		transition: background-color .2s;
        color:#fff !important;
        text-transform: uppercase !important;
	}

	button:hover {
/*		background-color: #efbf02;*/
	}

	.jumbotron_content {
		text-align: center;
            z-index: 9;
    position: relative;
	}

.homepage-hero-module .jumbotron_content {
    top:225px;
}
.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
    height: 100% !important;
}
.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}
.video-container {
    position: relative;
    height:0;
    overflow: hidden;
    padding-bottom: 56.25%;
}
.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}
.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}
.video-container video {
    position: absolute;
    z-index: 0;
    top: 0;
}
.video-container video.fillWidth {
    width: 100%;
}

/*==============  PARTNER SLIDER SECTION  ====================*/
.partner_slider {
    padding: 100px;
}

.partner_slider .slides {
    margin-top: 50px;
    	display: flex;
	justify-content: center;
	align-items: center;
}

.partner_slider .slick-track {
    display: flex;
	justify-content: center;
	align-items: center;
}

.partner_slider .slides .div {
    display: inline-block !important;
    vertical-align: middle;
}

.partner_slider .slides div img{
    max-width: 200px;
    margin: 0 auto;
}
.slick-prev:before, .slick-next:before {
    color:#e5422d !important;
    font-size: 35px !important;
    opacity: 1 !important;
    
}
.slick-prev, .slick-next {
    z-index: 999999 !important;
        width: 35px !important;
    height: 35px !important;
}
.slick-prev {
    left: 0 !important;
}
.slick-next {
    right: 0 !important;
}
.instashow-gallery .instashow-gallery-control-arrow {
    background: #e5422d !important;
}
.instashow-gallery .instashow-gallery-control-arrow::after, .instashow-gallery .instashow-gallery-control-arrow::before {
    background: #fff !important;
}
/*==============  SCHEDULE SECTION  ====================*/

.schedule_section {
	display: flex;
	justify-content: center;
	align-items: center;
    padding: 100px;
}

h2 {
	font-size: 35px !important;
	margin-bottom: 24px !important; 
}

p {
	font-weight: lighter;
	font-size: 17px !important;
}

	.schedule_content {
		text-align: center;
	}

		.schedule_content button {
			margin-top: 20px;
		}



/*==============  RENT A COURT SECTION  ====================*/

.rent_section {
	background-size: cover;
	background-repeat: no-repeat;
	padding: 80px 120px;
    display: flex;
    justify-content: flex-end;
}

	.rent_content {
		width: 500px;
		display: inline-block;
	}

		.rent_content h2, .rent_content p {
			color: white;
		}

		.rent_content button {
			margin-top: 22px;
		}




/*==============  ABOUT US SECTION  ====================*/

.about_us_section {
	padding: 0 80px;
	display: flex;
}

    .about_us_section .about_us_map {
		width: 100%;
	} 

	.about_us_section .about_us_content {
		width: 40%;
		display: inline-block;
		margin-left: 50px;
	}

	.about_us_section button {
		margin-top: 22px;
	}
.about_us_section h2 {
    margin-top: 0;
}
/*	.blue {
		background-color: #003466;
		color: white;
	}*/

a.wpsl-directions {
    color:#337ab7 !important;
}
#wpsl-search-btn {
    padding: 8px 10px !important;
        width: 100px !important; 
    font-weight: bold !important;
    background-color: #e5422d !important;
    border: none !important;
    outline: none !important;
    transition: background-color .2s !important;
    color: #fff !important;
    text-transform: uppercase !important;
    background-image: none !important;
    border-radius: 0 !important;
}
#wpsl-search-wrap input#wpsl-search-input {
    outline: none !important;
    border-radius: 0 !important;
    width: 250px !important;
}
#wpsl-search-wrap .wpsl-input label {
    width:100px !important;
    text-transform: uppercase !important;
}

/*==============  NEWS AND EVENTS SECTION  ====================*/

.news_events_section {
	background-color: #eaeaea;
	padding: 80px;
	padding-bottom: 130px;
	text-align: center;
}

.news_events_content {
    padding-top: 50px;
    text-align: left;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.news {
    border-right: 1px solid rgba(21, 22, 23, .20);
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    text-align:center;

}
.news .image_holder {
    margin-bottom: 30px;
}
.news img {
    height: auto;
    width: auto;
    max-width: 100%;
    margin: 0 auto;
}

.news:last-child {
    border: none;
    padding-right: 0;
}
.news_events_section a {
    font-size: 16px;
    transition: color .2s;
}

.news_events_section a:hover {
    color: #286192;
    text-decoration: none;
}

.view_all {
    position: relative;
    top: 52px;
}


/*==============  FOOOTER SECTION  ====================*/

footer {
	background-color: #003466;
	display: grid !important;
	grid-template-columns: repeat(4, 1fr);
	padding: 50px 150px;
}

	.footer_section ul {
		padding: 0;
	}

	.footer_section li {
		margin-bottom: 3px;
		color: white;
		font-weight: lighter;
		font-size: 16px;
	}

	.footer_section a {
		color: white;
		list-style: none;
		font-weight: lighter;
		font-size: 16px;
	}

	.footer_title {
		color: white;
		margin-bottom: 13px;
		font-size: 20px;
	}

	.footer {
		position: relative;
		left: 0;
		top: 0;
		height: 23px;
	}


	footer p {
		margin-top: 15px;
		color: white;
	}

	.copyright {
		background-color: #e5422d;
		text-align: center;
	}

	.copyright p {
		padding: 10px;
		margin: 0;
		font-size: 14px !important;
		margin: auto;
	}

	.divider {
		color: rgba(51, 51, 51, 0.51);
		margin-right: 5px;
		margin-left: 5px;
	}

footer .widget_wysija_cont .wysija-submit {
    display: inline-block;
    margin-top: 0;
    height: 30px;
    font-weight: bold !important;
    background-color: #e5422d;
    border: none;
    outline: none;
    transition: background-color .2s;
    color: #fff !important;
    text-transform: uppercase !important;
    vertical-align: bottom;
}

footer p.wysija-paragraph {
    display: inline-block;
    vertical-align: bottom;
    margin-top: 0;
    margin-bottom: 0;
    color:#000;
}

footer .widget_wysija_cont.shortcode_wysija {
    margin-top: 15px;
    display: none;
}
.widget_wysija_cont .updated, .widget_wysija_cont .login .message {
    background-color: #E6DB55 !important;
    text-transform: uppercase;
    padding-top: 9px;
}
.widget_wysija_cont .allmsgs .updated li {
        font-size: 14px;
    font-weight: bold;
    text-align: center;
}
footer button{
    width: 240px;
    margin-bottom: 10px;
}
/*============== ADULT LEAGUE PAGE ====================*/
/*==============+++++++++++++++++++====================*/


/*==============  JUMBOTRON  ====================*/

.adult_league {
	background-image: url('/wp-content/themes/emagid/assets/img/adult_league_hero.jpg');
}

/*==============  LEAGUE INFO SECTION  ====================*/
.league_info {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 50px;
	padding: 125px;
}
.league_info#adults {
    grid-template-columns: repeat(2, 1fr);
}
.youth_info {
    grid-template-columns: repeat(2, 1fr);
}
.info_holder {
	text-align: center;
    margin-top: auto;
}

.league_info img {
	width: 100px;
	display: block;
	margin: auto;
	padding-bottom: 30px;
}
.league_content {
    width: 80%;
    margin: 0 auto 50px;
}
.program_text {
    text-align: left;
}
ul.divisions {
    margin: 0;
    padding: 0;
}
ul.divisions li {
    display: inline-block;
}
ul.divisions li a button {
    width: 220px;
}
ul.divisions li a button:hover {
    background-color: #003466 !important;
}

/*==============  LEAGUE INFO SECTION  ====================*/
section.community_info.blue_background_info {
    padding-top: 0;
}
.contact {
	background-color: #003466;
	padding: 90px;
	color: white;
	text-align: center;
}
#wpcf7-f141-o1 > form > div:nth-child(8) > div > div > div {
    margin: 0 auto;
}
#wpcf7-f141-o1 > form > div.wpcf7-form-control-wrap > div > div {
    margin: 0 auto;
}
.contact div#ufaq-faq-list a {
    color:#fff !important;
}
.contact h3 {
	font-weight: lighter !important;
}

.contact button {
	color: #003466;
	margin-top: 25px;
}
.register_logos {
    width: 100%;
    text-align: center;
}
.register_logos > div {
    width: 49%;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}
.register_logos > div img {
    width: 80%;
    margin: 0 auto;
    max-width: 300px;
    margin-bottom: 20px;
}

/*==============  LEAGUE INFO SECTION  ====================*/
.pictures {
	display: flex;
	/*grid-template-columns: repeat(3, 1fr);
	grid-gap: 20px;*/
	flex-wrap: wrap;
	margin-top: .5%;
    width: 100%;
}

.pic {
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 24%;
    height: 300px;
    margin-left: .5%;
    margin-right: .5%;
    margin-bottom: .5%;
    text-align: center;
}


.pic p {
	font-weight: 500;
	font-size: 24px !important;
}

.overlay {
	width: 100%;
    padding: 15% 20px;
    height: 100%;
    z-index: 10;
    color: transparent;
    background-color: rgba(8, 8, 8, 0.0);
    cursor: pointer;
    transition: background-color .5s;
    transition: color .5s
}

.overlay:hover {
    background-color: rgba(8, 8, 8, 0.37);
	color: white;
}







/*============== YOUTH LEAGUE PAGE ====================*/
/*==============+++++++++++++++++++====================*/



/*==============  JUMBOTRON  ====================*/

.youth_league {
	background-position: 0 49px;
}

/*==============  YOUTH INFO SECTION  ====================*/

.youth_info {
	padding-left: 15%;
	padding-right: 15%;
}

.youth_info_holder {
	text-align: left;
	margin-top: 45px;
}


/*==============  SCHEDULE SECTION  ====================*/
.schedules {
	margin: 80px 0;
	display: flex;
	flex-wrap: wrap;
	padding: 0 50px;
	justify-content: center;
}
.schedules.inner p {
    width: 100%;
}

.schedule {
	width: 500px;
	box-shadow: 0px 0px 15px rgba(136, 136, 136, 0.2);
	margin-right: 50px;
	margin-bottom: 50px;
    padding-bottom: 20px;
    position: relative;
}
.schedule .title {
    background-color: #003466;
    overflow: hidden;
    padding: 20px 20px 10px;
}
.schedule .title h4 {
    color:#fff;
    float: left;
    margin-top: 0;
    margin-bottom: 0;
}
.schedule .title p {
    color:#ffcb01;
    float: right;
}
.schedule .date,
.schedule .time,
.schedule .location,
.schedule .social{
    width: 88%;
    margin: 0 auto;
}
.schedule .date,
.schedule .time,
.schedule .social{
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(0, 52, 102, 0.25);
}
.schedule .social:last-child {
    border-bottom: 0;
}
.schedule .date:before {
    position: absolute;
    left: 6%;
    margin-top: 20px;
    content: url('/wp-content/themes/emagid/assets/img/calendar.png');
}
.schedule .time:before {
    position: absolute;
    left: 6%;
    margin-top: 40px;
    content: url('/wp-content/themes/emagid/assets/img/stopwatch.png');
}
.schedule .location:before {
    position: absolute;
    left: 6%;
    margin-top: 20px;
    content: url('/wp-content/themes/emagid/assets/img/pinpoint.png');
}
.schedule .youtube:before {
    position: absolute;
    left: 6%;
    margin-top: 20px;
    content: url('/wp-content/themes/emagid/assets/img/video.png');
}
.schedule .twitter:before {
    position: absolute;
    left: 6%;
    margin-top: 20px;
    content: url('/wp-content/themes/emagid/assets/img/twitter.png');
}
.schedule .facebook:before {
    position: absolute;
    left: 6%;
    margin-top: 20px;
    content: url('/wp-content/themes/emagid/assets/img/facebook.png');
}
.schedule .snapchat:before {
    position: absolute;
    left: 6%;
    margin-top: 20px;
    content: url('/wp-content/themes/emagid/assets/img/snapchat.png');
}
.schedule .date p,
.schedule .time p,
.schedule .location p,
.schedule .social p{
    font-weight: 600;
    padding-left: 40px;
}
.schedule .date p span.light,
.schedule .time p span.light,
.schedule .location p span.light,
.schedule .social p span.light{
    font-weight: 100;
    margin-left: 5px;
} 

.landing_container {
    overflow: hidden;
    width: 100%;
    background: #003466;
}
.landing_section {
    width: 70%;
    float: left;
    text-align: left;
    padding-left: 10%;
    padding-right: 10%;
}
.landing_contact {
    width: 30%;
    float: left;
    padding: 90px 20px;
}
.landing_contact h2 {
    color:#fff;
}
.landing_contact_info {
    background: #e5422d;
}

/*============== COMMUNITY PAGE ====================*/
/*==============+++++++++++++++++++====================*/

/*==============  JUMBOTRON  ====================*/

.community {
    background-position: 0 49px;
}

.community_info {
    text-align: left;
}



/*================  QUOTES SECTION  =================*/
.quotes {
    display: flex;
    flex-wrap: wrap;
    padding: 100px;
    justify-content: space-between;
}

.quote {
    text-align: center;
    width: 40%;
    margin-bottom: 100px;
}

.quotation {
    text-align: left;
    top: 32px;
    left: -14px;
    position: relative;
    font-size: 37px !important;
    margin: 0;
    font-family: 'Cambria';
}

.quote img {
    height: 150px;
}




/*============== COURT RENTALS PAGE ====================*/
/*==============+++++++++++++++++++====================*/
/*==============  JUMBOTRON  ====================*/

.court_rental {
	background-position: 0 49px;
}



/*=============  RENT INFO   ====================*/

.small {
	font-size: 90% !important;
}



/*=============  COURT CONTACT   ====================*/
.court_contact, .blue_background_info {
    background-color: #003466;
    color: white;
    padding: 100px;
    text-align: center;
    border-bottom: 1px solid #fff;
    overflow: hidden;
}
.blue_background_info h2 {
    text-transform: uppercase;
}
.blue_background_info .contact_box a {
    color:#fff;
    font-weight: lighter;
    font-size: 17px !important;
    cursor: pointer;
}

.blue_background_info .contact_box p {
    color:rgba(255, 255, 255, 0.5) !important;;
}
.blue_background_info .contact_box p strong {
    color:rgba(255, 255, 255, 1) !important;;
}
.blue_background_info .contact_box img {
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width:100px;
}
.blue_background_info .contact_box{
    float: left;
    width: 33.3%;
    text-align: center;
    margin-top: 30px;
}
.blue_background_info .about_image {
        max-width: 800px;
    margin: 0 auto;
}
.blue_background_info .about_image img{
    width: 100%;
    margin-top: 100px;
}
.court_contact form {
	width: 400px;
	margin: auto;
	overflow: hidden;
}

.court_contact input,
.court_contact textarea{
	font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    padding: 10px;
    margin-bottom: 20px;
    background-color: transparent;
    color: white;
    width: 100%;
    outline: none;
    display: block;
    border: 1px solid white;
    font-size: 16px;
    font-weight: lighter;
}

.court_contact input:focus {
	border-color: #e5422d;
}

.court_contact input::-webkit-input-placeholder,
.court_contact textarea::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.court_contact .button {
    padding: 14px 37px;
    color: black;
    font-weight: bold !important;
    background-color: #e5422d;
    border: none;
    outline: none;
    transition: background-color .2s;
    color: #fff !important;
    text-transform: uppercase !important;
}


section.court_contact input.wpcf7-form-control.wpcf7-submit {
        display: block;
        padding: 14px 37px;
    color: black;
    font-weight: bold !important;
    background-color: #e5422d;
    border: none;
    outline: none;
    transition: background-color .2s;
    color: #fff !important;
    text-transform: uppercase !important;
    margin: 0 auto;
}




/*============== TEAM BUILDING PAGE ====================*/
/*==============+++++++++++++++++++====================*/

/*==============  JUMBOTRON  ====================*/

.team_building {
    background-position: 0 49px;
}

.team_building_info {
    padding-left: 0px;
}

.team_building_info li {
    font-size: 17px;
    font-weight: lighter;
    margin-bottom: 10px;
}



/*===============  TEAM BUILDING SECTION  ===================*/
.list_section {
	display: flex;
    padding: 100px;
}
.list_content ul li{
    list-style-type: disc;
}
.list_content#quotes ul {
    padding: 0;
    margin: 0;
}
.list_content#quotes ul li {
    list-style-type: none;
    margin-bottom: 50px;
}

.list_content ul li p span {
    color:#000;
    font-size: 22px !important;
}
.list_content ul li{
    
    color:#e5422d !important;
    font-size: 30px;
}

.list_content#quotes ul li p {
        color:#e5422d !important;
    font-size: 48px !important;
    line-height: 1em;
}

.list_content#about_us p {
    font-size: 20px !important;
    line-height: 1.5em;
}
/*============== SPECIAL EVENTS PAGE ====================*/
/*==============+++++++++++++++++++====================*/


/*==============  JUMBOTRON  ====================*/

.jumbotron p {
	font-size: 21px !important;
	color: white;
}

.special_events {
	background-position: 0 49px;
}


/*==============  SPECIAL EVENTS INFO SECTION ======================*/
.special_event_info {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 100px;
	background-color: #003466;
	color: white;
	text-align: center;
}

.info_holder h2 {
	margin-top: 10px;
}


/*==============  EVENTS & HIGHLIGHTS SECTION ======================*/
.events {
	display: flex;
	padding: 100px 50px;
    
}

.filters {
	width: 20%;
	text-align: left;
}


.events_holder {
	width: 70%;
    margin-right: 0;
    margin-left: auto;
    overflow: hidden;
}

.filters a {
	display: block;
    font-size: 18px;
    margin-bottom: 5px;
    color: black;
    transition: color .2s;
    text-align: center;
        padding-top:10px;
    padding-bottom: 10px;
}
.filters a.selected {
    background-color: #e5422d;
    color:#fff;
    padding-top:10px;
    padding-bottom: 10px;
}
.filters a:hover {
    background-color: #e5422d;
    text-decoration: none;
    color:#fff;
    cursor: pointer;
}

.event {
	display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 50px;
    margin-bottom: 50px;
}
.highlight_videos {
    padding-bottom: 50px;
    width: 29%;
    margin-left: 2%;
    margin-right: 2%;
    display: inline-block;
    vertical-align: top;
}
.highlight_videos .event_text h3 {
    text-transform: capitalize;
}
.highlight_videos img {
    width: 100%;
}
.event h3 {
	margin-top: 0px;
}
.event h3 span {
    color:#e5422d;
    font-size:1.25em;
}
.event img {
    width: 180px;
    height: 100%;
    margin-right:47px;
}
.event_text {
    width: 100%;
}
.event_text button {
	float: right;
    position: relative;
    top: 28px;
    margin-bottom: 15px;
}

button.show_less {
    background-color: #003466 !important;
}




/*============== FAQ PAGE ====================*/
/*==============+++++++++++++++++++====================*/



/*==============  JUMBOTRON  ====================*/
.about_us_content .wrapper {
    width: 85%;
    padding-top: 40px;
    margin: 0 auto;
}






/*============== CONTACT PAGE ====================*/
/*==============+++++++++++++++++++====================*/
section.maps {
    margin-top: 50px;
}

section.contact_page {
        background-color: #003466;
    padding: 45px;
    color: white;
    text-align: center;
}
section.contact_page h1 {
    text-transform: uppercase;
}
section.contact_form {
    overflow:hidden;
}
.contact_form_wrapper {
    width: 50%;
    float: left;
    margin: 0 auto;
    padding:50px 0;
    text-align: center;
}
.contact_form_info {
    float: left;
    width: 50%;
    padding:50px 0;
        background: #e5422d;
}
.contact_form_info_landing {
    float: none;
    width: 100%;
    padding:50px 0;
}
.contact_form_info_landing  .schedule {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    background: #fff;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
    border-radius: 2px;
}
.last-section {
    text-align: center;
    margin-top:50px;
    color:#000;
}
.last-section  h2 {
   color:#000; 
    margin-bottom: 100px;
}
section.contact_form input.wpcf7-form-control,
section.contact_form textarea.wpcf7-form-control,
section.contact_form select {
    width: 500px;
    padding: 10px;
    border:1px solid #ccc;
}
.landing_contact input.wpcf7-form-control,
.landing_contact textarea.wpcf7-form-control,
.landing_contact select {
    width: 100%;
    padding: 10px;
    border:1px solid #ccc;
}
  

section.contact_form label,
.landing_contact label {
    font-weight: lighter;
    font-size: 17px !important;
    text-align: left;
}
.landing_contact label {
    color:#fff;
}
section.contact_form input.wpcf7-form-control.wpcf7-submit,
.landing_contact input.wpcf7-form-control.wpcf7-submit{
    display: block;
        padding: 14px 37px;
    color: black;
    font-weight: bold !important;
    background-color: #e5422d;
    border: none;
    outline: none;
    transition: background-color .2s;
    color: #fff !important;
    text-transform: uppercase !important;
    margin: 0 auto;
    width:500px;
}
.landing_contact input.wpcf7-form-control.wpcf7-submit {
    width: 100%;
}

/*MEDIA */

@media screen and (max-width:1100px) {
    .left_nav {
        left: 10px;
    }
    .right_nav {
        right:10px;
    }
        nav li {
        padding: 5px 5px;
        font-size: 13px;
    }
}

@media screen and (max-width:950px) {
    footer {
        padding: 0;
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
    }
    .search,
    .icon_holder{
        display: none;
    }
    h1 {
        font-size: 42px !important;
    }
    .partner_slider {
        padding: 0;
        width:90%;
        margin: 0 auto;
    }
    .partner_slider .slides div img{
        width: 50%;
    max-width: 100%;
}
    .rent_section {
        width: 100%;
        
        padding-left: 0;
        padding-right: 0;
    }
    .rent_content {
        width: 90%;
        margin: 0 auto;
    }
    .about_us_section {
        padding: 0;
        display: block;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .about_us_section iframe {
        width: 100%;
    }
    .about_us_section .about_us_content {
    width: 90%;
    display: block;
    margin-left: 0;
        margin:0 auto;
}
    .news_events_section {
        padding-left: 0;
        padding-right: 0;
    }
    .news_events_content {
        text-align: center;
        grid-template-columns:repeat(1, 1fr);
    }
    .news {
        border-right: 0;
        padding-right: 0;
    }

    .about_us_section .about_us_map {
        width: 100%;
    }
    #wpsl-search-wrap input#wpsl-search-input {
        width: 100% !important;
    }
    div#wpsl-stores {
        text-align: center;
        height: auto !important;
    }
    #wpsl-gmap, #wpsl-result-list {
        width: 95% !important;
        margin: 0 auto !important;
    }
    .league_info {
        display: block;
        padding: 40px 0;
        width: 90%;
        margin: 0 auto;
    }
    .info_holder {
        margin-bottom: 50px;
    }
    .contact {
        padding: 45px;
    }
    .contact h3 {
        line-height: 1.5em;
    }
    .schedule_section {
        padding: 50px;
    }
    .pic {
        width: 100%;
        height: 300px;
        margin: 0 auto 10px;
    }
    .overlay {
        padding: 25% 20px;
    }
    .schedules {
        padding: 40px 0;
        width: 90%;
        margin: 0 auto;
    }
    .schedule {
        width: 100%;
        margin: 0 auto 50px;
    }
    section.contact_page {
        padding: 20px;
    }
    section.contact_page h1 {
        font-size: 26px !important;
        line-height: 1.5em
    }
    .contact_form_wrapper,
    .contact_form_info{
        width: 90%;
        margin: 0 auto;
        float: none;
        padding:25px 0 0;
    }
    section.contact_form input.wpcf7-form-control, textarea.wpcf7-form-control,
    section.contact_form input.wpcf7-form-control.wpcf7-submit{
        width: 100%;
    }
    .special_event_info {
        padding: 50px 50px 10px;
    }
    .filters {
        display: none;
    }
    .events {
       padding: 50px 0; 
    }
    .event {
        display: block;
        text-align: center;
        
    }
    .events_holder {
        margin: 0 auto;
        width: 90%;
    }
    .event img {
        margin: 0 auto 20px;
        width: 70%;
        display: none;
    }
    .event_text button {
        float: none;
    }
    .highlight_videos {
        width: 100%;
        margin: 0 auto;
    }
    .court_contact, .blue_background_info {
        padding: 50px 0;
    }
    .court_contact form {
        width: 90%;
    }
    .list_section {
        padding: 50px 0;
        width: 90%;
        margin: 0 auto;
    }
    .list_section h2 {
        font-size: 26px !important;
    }
    .list_content ul li {
        font-size: 20px!important;
    }
    .list_section h2 {
        text-align: left !important;
        font-size: 18px !important;
        line-height: 1.35em;
    }
    .list_content#quotes ul li p {
            font-size: 20px !important;
    line-height: 1.5em;
    }
    section.community_info.blue_background_info {
        padding: 20px 10px;
    }
    .blue_background_info .contact_box {
        width: 100%;
        float: none;
    }
    .video-container .filter {
        display: none;
    }
    .jumbotron_content {
        display: none;
    }
}

@media screen and (max-width:550px) {
    .homepage-hero-module {
        margin-top: 50px;
        height: 450px !important;
    }
    .video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
        padding-bottom: auto;
}
    .register_logos > div {
        width: 100%;
        display: block;
        margin-bottom: 50px;
    }
    .jumbotron {
        height: 40vh;
    }
    section.contact.youth_info h2 {
        font-size: 18px !important;
    }
    .landing_section {
        float: none;
        width: 100%;
        padding-top: 90px;
        padding-bottom: 0;
        padding-left: 5%;
        padding-left: 5%;
    }
    .landing_contact {
        float: none;
        width: 100%;
        padding-top: 0;
                padding-left: 5%;
        padding-left: 5%;
    }
    section.contact.youth_info.landing_section h2 {
        font-size: 26px !important;
    }
}
