body {
	font-family: 'Source Sans Pro', sans-serif !important;
	color: white;
}



/*==============  HEADER  ====================*/

header {
	background-color: #003466;
	height: 100px;
}

	li {
		list-style: none;
	}

	li a {
		color: white;
		transition: color .2s;
	}

	li a:hover{
		text-decoration: none;
		color: #c5d2de;
		cursor: pointer;
	}

	.left_nav {
		width: 500px;
		display: inline-block;
		position: absolute;
		top: 35px;
		left: 30px;
	}

		.left_nav ul {
			padding: 0;
		}


	nav li {
		display: inline-block;
	    border-right: 1px solid #01233F;
	    padding: 5px 20px;
	}

	nav li:last-child {
		border-right: none;
	}

	.logo_middle {
		width: 100px;
		height: 100px;
		background-color: #FFCC00;
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
	}

		.logo_middle img {
		    width: 60px;
		    top: 15px;
		    position: relative;
		    left: 50%;
		    transform: translateX(-50%);
		}

	.right_nav {
		display: inline-block;
	    position: absolute;
	    right: 50px;
	    top: 35px;
	}

	/*Yellow bar under header*/

	.yellow_header {
		position: absolute;
		top: 100px;
		background-color: #FFCC00;
		height: 50px;
		width: 100%;
	}

		.icon_holder {
			position: absolute;
			left: 50px;
			top: 12px;
		}

			.icon {
				margin-right: 13px;
				cursor: pointer;
				transition: scale .2s;
			}

			.icon:hover {
				transform: scale(1.05);
			}

		.logo_text {
			font-weight: bold;
			font-size: 17px;
			display: inline-block;
			position: relative;
		    left: 50%;
		    bottom: 2px;
		    transform: translateX(-50%);
		}

		.search {
			display: inline-block;
			background-color: white;
			position: absolute;
			right: 0;
			top: 10px;
			right: 65px;
		}

			.search input {
				width: 200px;
				padding: 5px 10px;
				border: none;
				border-radius: 5px;
				outline: none;
			}




/*==============  JUMBOTRON  ====================*/

.jumbotron {
	height: 89vh;
	background-image: url('../images/home_hero.png');
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 0 !important; margin-bottom: 0 !important;
}

	h1 {
		color: white !important;
		font-weight: bold !important;
		font-size: 50px !important;
		margin-bottom: 45px !important;
	}

	button, .button {
		padding: 18px 49px;
		font-size: 16px !important;
		color: black;
		font-weight: bold !important;
		background-color: #FFCC00;
		border: none; outline: none;
		transition: background-color .2s;
	}

	button:hover, .button:hover {
		background-color: #efbf02;
	}

	.jumbotron_content {
		text-align: center;
	}




/*==============  SCHEDULE SECTION  ====================*/

.schedule_section {
	display: flex;
	justify-content: center;
	align-items: center;
    padding: 100px;
}

h2 {
	font-size: 35px !important;
	margin-bottom: 45px !important; 
}

p {
	font-weight: lighter;
	font-size: 17px !important;
}

	.schedule_content {
		text-align: center;
	}

		.schedule_content button {
			margin-top: 20px;
		}



/*==============  RENT A COURT SECTION  ====================*/

.rent_section {
	background-image: url('../images/rent.png');
	background-size: cover;
	background-repeat: no-repeat;
	padding: 80px 120px;
    display: flex;
    justify-content: flex-end;
}

	.rent_content {
		width: 500px;
		display: inline-block;
	}

		.rent_content h2, .rent_content p {
			color: white;
		}

		.rent_content button {
			margin-top: 22px;
		}




/*==============  ABOUT US SECTION  ====================*/

.about_us_section {
	padding: 130px 80px;
	display: flex;
	align-items: center;
}

	.about_us_section iframe {
		width: 500px;
	    height: 400px;
	}

	.about_us_section .about_us_content {
		width: 50%;
		display: inline-block;
		margin-left: 150px;
	}

	.about_us_section button {
		margin-top: 22px;
	}

/*	.blue {
		background-color: #003466;
		color: white;
	}*/




/*==============  NEWS AND EVENTS SECTION  ====================*/

.news_events_section {
	background-color: #eaeaea;
	padding: 80px;
	padding-bottom: 130px;
	text-align: center;
}

	.news_events_content {
		padding-top: 50px;
		text-align: left;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 60px;
	}

		.news {
			border-right: 1px solid rgba(21, 22, 23, .20);
		    padding-right: 45px;
		}

		.news:last-child {
			border: none;
		}

		.news_events_section a {
			font-size: 16px;
			transition: color .2s;
		}

		.news_events_section a:hover {
			color: #286192;
			text-decoration: none;
		}

		.view_all {
		    position: relative;
		    left: 555px;
		    top: 52px;
		}


/*==============  FOOOTER SECTION  ====================*/

footer {
	background-color: black;
	display: grid !important;
	grid-template-columns: repeat(4, 1fr);
	padding: 50px 150px;
}

	.footer_section ul {
		padding: 0;
	}

	.footer_section li {
		margin-bottom: 3px;
		color: white;
		font-weight: lighter;
		font-size: 16px;
	}

	.footer_section a {
		color: white;
		list-style: none;
		font-weight: lighter;
		font-size: 16px;
	}

	.footer_title {
		color: white;
		margin-bottom: 13px;
		font-size: 20px;
	}

	.footer {
		position: relative;
		left: 0;
		top: 0;
		height: 23px;
	}

	.right {
	    padding-top: 92px;
	}

	footer p {
		margin-top: 15px;
		color: white;
	}

	footer button {
		padding: 14px 37px;
		font-size: 14px;
	}

	.copyright {
		background-color: #FFCC00;
		text-align: center;
	}

	.copyright p {
		padding: 10px;
		margin: 0;
		font-size: 14px !important;
		margin: auto;
	}

	.divider {
		color: rgba(51, 51, 51, 0.51);
		margin-right: 5px;
		margin-left: 5px;
	}


/*===================  COMMON STYLES FROM ALL PAGES   =====================*/


.white_background_info {
    padding: 100px 200px;
    text-align: center;
}

.white_background_info p {
    text-align: left;
}

.white_background_info button {
	margin-top: 20px;
	margin-bottom: 20px;
}

.blue_background_info {
    background-color: #003466;
    color: white;
    padding: 100px;
    text-align: center;
}

/* ===================  RESPONSIVENESS  =====================*/
